.cambioColorAzul {color:black;}
.cambioColorAzul:hover {color: blue}

.cambioColorNar {color:black;}
.cambioColorNar:hover {color: orange}

.cambioColorAma {color:black;}
.cambioColorAma:hover {color: yellow}

.cambioColorver {color:black;}
.cambioColorver:hover {color: green}

.cambioColorAc {color:black;}
.cambioColorAc:hover {color: lightblue}

.cambioColorMor {color:black;}
.cambioColorMor:hover {color:purple}

.cambioColorA {color:black;}
.cambioColorA:active {color: purple}

.cambioColorR {color:black;}
.cambioColorR:active {color: blue}

.cambioColorC {color:black;}
.cambioColorC:active {color: green}

.cambioColord {color:black;}
.cambioColord:active {color: yellow}

.cambioColore {color:black;}
.cambioColore:active {color: orange}

.cambioColors {color:black;}
.cambioColors:active {color:red}